body {
  margin: 0;
  background: #f6f4dc; /* бежевий фон */
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 фото в ряд */
  gap: 40px;            /* відстань між фото */
  padding: 40px;        /* відступ від країв */
}

.gallery img {
  width: 100%;
  height: auto;
  display: block;
}
