body {
    background-color: rgb(139, 206, 228);
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    color: rgb(6, 6, 156);
    text-align: center;
}

p {
    font-size: 18px;
    color: #3d2a2a;
}

