body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    margin-top: 30px;
}

ol {
    font-size: 18px;
}

img {
    width: 250px;
    margin: 10px;
    border: 2px solid #333;
}
