.btn {
    font-size: 24px;
    font-weight: 700;
    background-color: yellow;
    padding: 10px 20px;
    margin: 40px;
    border: none;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    background-color: orange;
}

.text {
    font-size: 18px;
    font-style: italic;
}
